#healthbar{
    font-size: 3rem;
    color: var(--main-pink);
    text-shadow: 0px 0px 3px var(--main-pink);
    padding-left: 0.5rem;
}

#healthbar span{
    margin-right: 0.5rem;
    display: inline-block;
}

.active-heart{
    animation: heartBounce 0.4s ease-in-out infinite alternate;
}

@keyframes heartBounce {
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(120%);
    }
}