.splash-base{
    width: 100%;
    height: 50%;

    background-color: var(--main-blue);
    color: white;
    border-top: 4px solid white;
    border-bottom: 4px solid white;


    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    user-select: none;
}

.splash-fade-in{
    animation: splashIn 0.5s ease-out 0s 1;
}

.splash-txt-wiggle{
    animation: textShake 200ms linear infinite alternate;
}

.splash-base h2{
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(6rem, 10vw, 8rem);
    text-transform: uppercase;
}

.splash-cont{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.splash-buttons{
    text-shadow: 0px 0px 1px black;
    display: flex;
    flex-direction: row;
    width: fit-content;
    column-gap: 2vw;

    padding-bottom: 3rem;

    width: max-content;
}

.splash-buttons button{
    all:unset;

    cursor: pointer;
    font-size: clamp(2rem, 2vw, 3rem);

    color: white;
    border: 2px solid white;

    padding: 1rem;

}

.splash-buttons button:hover{
    background-color: white; 
    color: var(--main-blue);
}

#difficulty-select{
    height: 30vh;
}

@keyframes splashIn {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes textShake {
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(105%);
    }
}